::ng-deep {
    .xng-breadcrumb-list {
        align-items: baseline !important;
        text-transform: uppercase;
    }
    .xng-breadcrumb-root {
        padding: 8px 16px;
        display: inline-block;
    }
    .xng-breadcrumb-separator {
        padding: 0 4px;
    }
    .xng-breadcrumb-link {
        text-decoration: none !important;
        font-weight: bold !important;
    }
}
