<xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
<ng-template #iconTemplate>
  <mat-icon>>></mat-icon>
</ng-template>
<router-outlet>
</router-outlet>
<nb-card [nbSpinner]="true" *ngIf="dashboardStore?.showSpinner" nbSpinnerStatus="danger">
    <nb-card-body>
    </nb-card-body>
</nb-card>