<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <form class="form-horizontal" *ngIf="modalData?.data.mobileNumber">
            <div class="form-group row">
              <label class="label col-sm-4 form-control-label">User Name:</label>
              <label class="label col-sm-8"> {{modalData?.selectedRow?.userName}} </label>
            </div>
  
            <div class="form-group row">
              <label class="label col-sm-4 form-control-label">Mobile Number:</label>
              <label class="label col-sm-8"> {{modalData?.data.mobileNumber}} </label>
            </div>
            <div class="form-group row" *ngIf="modalData.selectedRow.playedTime">
                <label class="label col-sm-4 form-control-label">Played Time:</label>
                <label class="label col-sm-8"> {{modalData?.selectedRow?.playedTime}} </label>
              </div>
          </form>
            <div class="alert alert-danger" role="alert" *ngIf="!modalData?.data.mobileNumber">
              {{modalData?.data.message}}
            </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>