<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>charts.js</nb-card-header>
        <nb-card-body>
            <chart type="pie" [data]="data" [options]="options"></chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>D3</nb-card-header>
        <nb-card-body>
            <ngx-charts-pie-chart
                [scheme]="colorScheme"
                [results]="results"
                [legend]="showLegend"
                [labels]="showLabels">
            </ngx-charts-pie-chart>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Echarts</nb-card-header>
        <nb-card-body>
          <div echarts [options]="options2" class="echart"></div>
        </nb-card-body>
      </nb-card>
    </div>
    
  </div>