<nb-layout windowMode>
  <nb-layout-column>
  <div class="container1" style="position:fixed; padding-top:10%; top:0; left:0; height: 100%; width: 100%;">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <nb-card>
        <nb-card-header><h1 style="text-align: center;">Login
          <!-- <p class="sub-title mt-1">Hello! Log in with your email.</p> -->
        </h1></nb-card-header>
        <nb-card-body>

          <!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
  </nb-alert> -->

          <!-- <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
      <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
  </nb-alert> -->

          <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
          <div class="text-danger mb-2" *ngIf="loginService?.loginErrorMessage"> {{loginService.loginErrorMessage}}</div>
            <div class="form-control-group mb-4">
              <label class="label" for="input-userName">User Name:</label>
              <input nbInput fullWidth [(ngModel)]="user.username" #userName="ngModel" name="userName" id="input-userName"
                placeholder="User Name" fieldSize="large" autofocus
                [required]="getConfigValue('forms.validation.userName.required')"
                [attr.aria-invalid]="userName.invalid && userName.touched ? true : null">
              <ng-container *ngIf="userName.invalid && userName.touched">
                <p class="caption status-danger" *ngIf="userName.errors?.required">
                  User Name is required!
                </p>
                <p class="caption status-danger" *ngIf="userName.errors?.pattern">
                  Email should be the real one!
                </p>
              </ng-container>
            </div>

            <div class="form-control-group mb-4">
              <span class="label-with-link">
                <label class="label" for="input-password">Password:</label>
                <!-- <a class="forgot-password caption-2" routerLink="../request-password">Forgot Password?</a> -->
              </span>
              <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
                id="input-password" placeholder="Password" fieldSize="large"
                [required]="getConfigValue('forms.validation.password.required')"
                [minlength]="getConfigValue('forms.validation.password.minLength')"
                [maxlength]="getConfigValue('forms.validation.password.maxLength')"
                [attr.aria-invalid]="password.invalid && password.touched ? true : null">
              <ng-container *ngIf="password.invalid && password.touched ">
                <p class="caption status-danger" *ngIf="password.errors?.required">
                  Password is required!
                </p>
                <p class="caption status-danger" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                  Password should contain
                  from {{ getConfigValue('forms.validation.password.minLength') }}
                  to {{ getConfigValue('forms.validation.password.maxLength') }}
                  characters
                </p>
              </ng-container>
            </div>

            <div class="form-control-group accept-group">
              <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Remember me</nb-checkbox>
            </div>

            <button nbButton fullWidth status="primary" size="large" [disabled]="submitted || !form.valid"
              [class.btn-pulse]="submitted"
              [nbSpinner]="loginService.showSpinner" nbSpinnerStatus="danger" nbSpinnerSize="large" nbSpinnerMessage="">
              Log In
          </button>
          </form>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-4"></div>

  </div>
  </div>
</nb-layout-column>
</nb-layout>
<!-- <section class="another-action" aria-label="Register">
  Don't have an account? <a class="text-link" routerLink="../register">Register</a>
</section> -->