<nb-card>
  <nb-card-header><h3 title="Campaigns Report"> {{ appConstants.BREADCRUMS.campaigns_report.label}} </h3></nb-card-header>
</nb-card>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <!-- <nb-card-header>Select Filters</nb-card-header> -->
            <nb-card-body>
              <div class="row">

                <div class="col-md-3" *ngIf="dashboardStore?.cpId === 0">
                  <div class="form-group">
                    <label for="inputLastName" class="label">Clients</label>
                    <nb-select placeholder="Select Client" [(selected)] = 'dashboardStore.clientId' fullWidth>
                      <nb-option *ngFor="let e of dashboardStore.clients" [value]="e.id"> {{ e.name }} </nb-option>
                  </nb-select>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">Month</label>
                    <nb-select placeholder="Select Month" [(selected)] = 'dashboardStore.month' fullWidth>
                      <nb-option *ngFor="let e of dashboardStore.dateRangeDropDown" [value]="e.month"> {{ e.lable }} </nb-option>
                    </nb-select>
                  </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">&nbsp;</label>
                    <button type="submit" nbButton status='primary' fullWidth
                      [disabled] = "!dashboardStore.clientId || !dashboardStore.month"
                      (click)="loadData()">Submit</button>
                  </div>
                </div>

                <div class="col-md-2" *ngIf="dashboardStore?.campaignsData?.campaignViewData && dashboardStore?.campaignsData?.campaignViewData.length">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">&nbsp;</label>
                    <button type="submit" nbButton status='basic' fullWidth
                      [disabled] = "!dashboardStore.clientId || !dashboardStore.month"
                      (click)="downloadReport()">Download Report</button>
                  </div>
                </div>
                
              </div>
              
            </nb-card-body>
          </nb-card>
          <ng2-smart-table *ngIf="dashboardStore?.campaignsData?.campaignViewData"
            [settings]="settings" 
            [source]="dashboardStore?.campaignsData?.campaignViewData"
            (userRowSelect)="rowClicked($event)">
          </ng2-smart-table>
         </div>
  </div>