<nb-card>
  <nb-card-header><h3 title="Ad Consumption Report"> {{ appConstants.BREADCRUMS.ad_consumption_report.label}} </h3></nb-card-header>
</nb-card>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <!-- <nb-card-header>Select Filters</nb-card-header> -->
            <nb-card-body>
              <div class="row">
                <div class="col-md-3" *ngIf="dashboardStore?.cpId === 0">
                  <div class="form-group">
                    <label for="inputLastName" class="label">Clients</label>
                    <nb-select placeholder="Select Client" [(selected)] = 'dashboardStore.clientId' (selectedChange)="onClientChange()" fullWidth>
                      <nb-option *ngFor="let e of dashboardStore.clients" [value]="e.id"> {{ e.name }} </nb-option>
                  </nb-select>
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">Campaign</label>
                      <nb-select placeholder="Select Campaign" [(selected)] = 'dashboardStore.campaignId' fullWidth>
                        <nb-option *ngFor="let e of dashboardStore.campaigns" [value]="e.id"> {{ e.name }} </nb-option>
                      </nb-select>
                    </div>
                  </div>

                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">Month</label>
                      <nb-select placeholder="Select Month" [(selected)] = 'dashboardStore.month' fullWidth>
                        <nb-option *ngFor="let e of dashboardStore.dateRangeDropDown" [value]="e.month"> {{ e.lable }} </nb-option>
                      </nb-select>
                    </div>
                  </div>

                  <div class="col-md-1">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">&nbsp;</label>
                      <button type="submit" nbButton status='primary' fullWidth
                        [disabled] = "!dashboardStore.clientId || !dashboardStore.campaignId || !dashboardStore.month"
                        (click)="loadData()">Submit</button>
                    </div>
                  </div>
                  <div class="col-md-2" *ngIf="dashboardStore?.adsData?.adViewData && dashboardStore?.adsData?.adViewData.length">
                    <div class="form-group">
                      <label for="inputFirstName" class="label">&nbsp;</label>
                      <button type="submit" nbButton status='basic' fullWidth
                        [disabled] = "!dashboardStore.clientId || !dashboardStore.campaignId || !dashboardStore.month"
                        (click)="downloadReport()">Download Report</button>
                    </div>
                  </div>
              </div>
              
            </nb-card-body>
          </nb-card>
          <ng2-smart-table *ngIf="dashboardStore?.adsData?.adViewData && !dashboardStore?.showSpinner"
            [settings]="settings" 
            [source]="dashboardStore?.adsData?.adViewData"
            (userRowSelect)="rowClicked($event)">
          </ng2-smart-table>
         </div>
  </div>