<nb-card>
  <nb-card-header><h3 title="Clients Report"> {{ appConstants.BREADCRUMS.clients_report.label}} </h3></nb-card-header>
</nb-card>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <!-- <nb-card-header>Select Filters</nb-card-header> -->
            <nb-card-body>
              <div class="row">
                <div class="col-md-3">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Month</label>
                  <nb-select *ngIf="dashboardStore.dateRangeDropDown" placeholder="Select Month" [(selected)] = 'dashboardStore.month' fullWidth>
                    <nb-option *ngFor="let e of dashboardStore.dateRangeDropDown" [value]="e.month"> {{ e.lable }} </nb-option>
                  </nb-select>
                </div>
                </div>

                <div class="col-md-1">
                  <div class="form-group">
                    <label for="inputFirstName" class="label">&nbsp;</label>
                    <button type="submit" nbButton status='primary' fullWidth
                      [disabled] = "!dashboardStore.month"
                      (click)="loadData()">Submit</button>
                  </div>
                </div>
              </div>
              
            </nb-card-body>
          </nb-card>
          <ng2-smart-table *ngIf="dashboardStore?.clientData?.clientViewData"
            [settings]="settings" 
            [source]="dashboardStore?.clientData?.clientViewData"
            (userRowSelect)="rowClicked($event)">
          </ng2-smart-table>
          <!-- <table class="table table-hover table-striped table-dark" *ngIf="dashboardStore?.clientData?.clientViewData">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Client Name</th>
                <th scope="col">No Of Users Played</th>
                <th scope="col">Total Engagement Time</th>
                <th scope="col">WinGa Leads</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let item of dashboardStore?.clientData?.clientViewData; let i = index">
              <tr>
                <th scope="row">{{i+1 | number}}</th>
                <td>{{item.clientName}}</td>
                <td>{{item.noOfUsersPlayed | number}}</td>
                <td>{{item.totalEngagementTime | number}}</td>
                <td>{{item.wingaLeads | number}}</td>
              </tr>
            </ng-container>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="2" class="font-weight-bold text-right">Total</td>
                <td class="font-weight-bold">{{dashboardStore.totals.noOfUsersPlayed | number}}</td>
                <td class="font-weight-bold">{{dashboardStore.totals.totalEngagementTime | number}}</td>
                <td class="font-weight-bold">{{dashboardStore.totals.wingaLeads | number}}</td>
              </tr>
            </tfoot>
          </table> -->
    </div>
  </div>