<nb-card>
    <nb-card-header><h3 title="Short Sessions"> {{ appConstants.BREADCRUMS.short_sessions.label}} </h3></nb-card-header>
  </nb-card>
  <div class="row">
      <div class="col-md-12">
            <ng2-smart-table *ngIf="dashboardStore?.shortSessions && !dashboardStore?.showSpinner"
              [settings]="settings" 
              [source]="dashboardStore?.shortSessions"
              (userRowSelect)="rowClicked($event)">
            </ng2-smart-table>
           </div>
    </div>