<nb-card>
    <nb-card-header><h3 title="Ad Views"> {{ appConstants.BREADCRUMS.ad_views.label}} </h3></nb-card-header>
  </nb-card>
  <div class="row">
      <div class="col-md-12">
          <nb-card>
              <!-- <nb-card-header>Select Filters</nb-card-header> -->
              <nb-card-body>
                <div class="row">
                  <div class="col-md-3" *ngIf="dashboardStore?.cpId === 0">
                    <div class="form-group">
                      <label for="inputLastName" class="label">Clients</label>
                      <nb-select placeholder="Select Client" [(selected)] = 'dashboardStore.clientId' (selectedChange)="onClientChange()" fullWidth>
                        <nb-option *ngFor="let e of dashboardStore.clients" [value]="e.id"> {{ e.name }} </nb-option>
                    </nb-select>
                    </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Campaign</label>
                        <nb-select placeholder="Select Campaign" [(selected)] = 'dashboardStore.campaignId' (selectedChange)="onCampaignChange()" fullWidth>
                          <nb-option *ngFor="let e of dashboardStore.campaigns" [value]="e.id"> {{ e.name }} </nb-option>
                        </nb-select>
                      </div>
                    </div>
  
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Ads</label>
                        <nb-select placeholder="Select Ad" [(selected)] = 'dashboardStore.adId' fullWidth>
                          <nb-option *ngFor="let e of dashboardStore.adsList" [value]="e.id"> {{ e.name }} </nb-option>
                        </nb-select>
                      </div>
                    </div>

                    <div class="col-md-2">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">Month</label>
                        <nb-select placeholder="Select Month" [(selected)] = 'dashboardStore.month' fullWidth>
                          <nb-option *ngFor="let e of dashboardStore.dateRangeDropDown" [value]="e.month"> {{ e.lable }} </nb-option>
                        </nb-select>
                      </div>
                    </div>
  
                    <div class="col-md-1">
                      <div class="form-group">
                        <label for="inputFirstName" class="label">&nbsp;</label>
                        <button type="submit" nbButton status='primary' fullWidth
                          [disabled] = "!dashboardStore.clientId || !dashboardStore.campaignId || !dashboardStore.adId || !dashboardStore.month"
                          (click)="loadData()">Submit</button>
                      </div>
                    </div>
                </div>
                
              </nb-card-body>
            </nb-card>
            <ng2-smart-table *ngIf="dashboardStore?.userAdViewData && !dashboardStore?.showSpinner"
              [settings]="settings" 
              [source]="dashboardStore?.userAdViewData"
              (userRowSelect)="rowClicked($event)">
            </ng2-smart-table>
           </div>
    </div>